 th, td {
   border: 1px solid black;
 
   text-align : center;
   padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
	border-radius : 5px;
}

input[type="textarea"]{
	width: 40%;
	padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius : 5px;
}

input[type=textarea]:focus {
    border: 3px solid #555;
}

#commentaire {
	width : 100%;
}